html { 
    font-size: 22px; 
}

body.catalogo { 
    padding: 1rem; 
}

a:link {
	text-decoration: none;
}

.categorie {
	text-align:center;
}

.linkCategorie {
	display: inline;
	color: #fdd8357b;
	font-weight: bold;
}

.linkCategorie:link {
	-webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.linkCategorie:hover {
	color: #fdd835;
	
	-webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.separatoreLink {
	color: #fdd8357b;
	display: inline;
}

.card {
  color: white;
  padding: 1rem;
  height: 15rem;
  border-radius: 20px;
  text-align: center;
  margin-top: 20%;
}

.nomeProdotto , .prezzoProdotto {
    color: black;
    font-size: 15pt;
}

.cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

    /*Questa riga permette l'applicazione di un effetto responsive 
    senza dover ripetere il codice delle media-queries*/

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.immagineProdotto{
    height: 180px;
    width: auto;
    border-radius: 5px;
}

.aggiungiCarrello {
    background-color: #f2a6c7;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    
    width: 150px;
    
    font-weight: 600;
    border: none;
    
    padding: 5px;
	margin: auto;
}

.iconaCarrelloPulsante {
    float: left;
    margin-left: 0px;
}

.aggiungiCarrello:hover {
    color: white;
    
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.testoAggiungiCarrello {
    margin-left: 30%;
	font-size: 10pt;
}

.prodottoEsaurito {
	background-color: #ff00009a;
	border-radius: 10px;
    font-weight: 600;
    border: none;
    
    width: 150px;
    
    padding: 5px;
	margin: auto;
}  

.iconaProdottoEsaurito {
    float: left;
    margin-left: 5px;
}

.testoNonDisponibile {
	margin-left: 30%;
	font-size: 10pt;
}