@CHARSET "UTF-8";

button
{
	background-color:#ffb5b5;
	border:0px;	
	font-size:medium;
	
}

table,tr{
	width:100%;
	border:0px solid #ffffff;
	border-color:#ffffff;
	/*border-radius: 10px 10px 10px 10px;*/
	margin-left: auto;
	margin-right: auto;
	width:80%;
}

td.alta{
	border-radius: 10px 10px 10px 10px;
	border:3px solid #ffffff;
	border-color: #ffffff;
	height:260px;
	width:260px;
}

img{
	width:30%;
	display: block;
	margin:0 auto;
}
