@CHARSET "UTF-8";

button
{
	background-color:#ffb5b5;
	border:2px;	
	font-size:large;
	
}

table,tr{
	width:100%;
	border:0px solid trasparent;
	/*border-radius: 10px 10px 10px 10px;*/
	margin-left: auto;
	margin-right: auto;
	width:80%;
}

td.alta{
	border-radius: 0px 0px 0px 0px;
	border:0px solid trasparent;
	height:260px;
	width:260px;
}

img{
	width:30%;
	display: block;
	margin:0 auto;
}
