#login form {
    max-width:600px;
    margin:auto;
}

* {box-sizing: border-box;}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 5%;

    padding-right: 20px;
    

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btnLogin {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #fdd8357b;
    border: solid 2px white;
    margin-bottom: 10%;
}

.btnRegister {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #f2a6c740;
    border: solid 2px white;
    margin-bottom: 10%;
}

.icon {
  padding: 20px;
  background: white;
  color: black;
  min-width: 50px;
  max-width: 100px;

  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}

.input-field {
  width: 100%;
  padding-left: 10px;
  font-size: large;
  outline: none;
  border: none;
}

.input-container:focus-within .icon {  
    background-color: #fdd835;
    color: white;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.btnLogin:hover{
    background-color: #fdd835;
    border: solid 2px white;
    color: white;
    cursor: pointer;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: none;
}

.btnRegister:hover{
    background-color: #f2a6c7;
    border: solid 2px white;
    color: white;
    cursor: pointer;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: none;
}

hr{
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 1px solid rgba(128, 128, 128, 0.27);  
    border-radius: 5px;
}

#Logo_Testo {
	width: 60%;
	height: auto;
}

.error2 {
	position: relative;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff0000b7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align:middle;
}

#errorMail {
    display: none;
}
#errorPassword {
    display: none;
}
#errorPassword2 {
	display: none;
}
#errorName {
    display: none;
}
#errorSurname {
    display: none;
}
#errorNumber {
    display: none;
}




#errorMessageMail {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}
#errorMessagePassword {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}
#errorMessagePassword2 {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}
#errorMessageName {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}
#errorMessageSurname {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}
#errorMessageNumber {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}


@media screen and (max-width: 500px) {
	#login  form {
	    max-width:300px;
	    margin:auto;
	}
	
	.input-container {
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
	}
	
	.btnLogin {
		width: 80%;
		margin-left: 10%;
    	margin-right: 10%;
    	margin-bottom: 10%;
	}

	.btnRegister {
		width: 80%;
		margin-top: 5%;
		margin-left: 10%;
    	margin-right: 10%;
    	margin-bottom: 10%;
	}
}
