.bodyNavbar {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.borderBoxPopUp {
	border-radius: 20px !important;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.2s filter;
  filter: blur(3px);
}

body.swal2-hide > [aria-hidden="true"] {
  transition: 0.8s filter;
  filter: blur(3px);
}

.bodyNavbar {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #fdd835;
  z-index: 1;
  display: flexbox;
  height: 80px;
}

#logoImmagine {
  height: 80px;
  width: auto;
  margin-left: 20px;
}

#navbarDestra {
  float: right;
  display: flex;
  height: 80px;
  width: fit-content;
}

.icona {
  color: white;
  size: 50%;
  font-size: 50px;
  padding: 15px;
}


.iconaRicerca:hover {
  background-color: #F3AC94;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.iconaRicerca:hover > .icona {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.iconaUtenteDIV:hover {
  background-color: #F3AC94;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.iconaUtente:hover > .icona {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.iconaCarrelloDIV:hover {
  background-color: #F3AC94;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.iconaCarrello:hover > .icona {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}





.content {
  padding: 16px;
  z-index: 1;
}



/* barra di ricerca */

.campoRicerca:focus{
  outline: none;
}

#barraRicerca {
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 40px;
  display: none;
  background-color: white;
  border:#f3ac9499 3px solid;
  border-radius: 25px;
  position: relative;
  top: 20px;
  padding-left: 2%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  margin-left: 3%;
}

#barraRicerca:hover {
  border: 3px solid #F3AC94; 
}

#barraRicerca:focus-within {
  border: 3px solid #F3AC94; 
}

.bottoneRicerca {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 20pt;
  width: 5%;
  float: right;
  margin-right: 20px;
  position: relative;
  top: 0px;
  cursor: pointer;
}

.bottoneRicerca:hover {
  color: rgb(82, 81, 81);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.campoRicerca{
  width: 70%;
  font-size: 16pt;
  background-color: transparent;
  border: none;
  position: relative;
  top: 0px;
}

#risultati {
	background-color: white;
	width: 100px;
}


/*Barra di ricerca versione Mobile*/
#barraRicercaResponsive {
  background-color: white;
  border:#f3ac9499 3px solid;
  border-radius: 25px;
  width: 95%;

  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

#barraRicercaResponsive:focus-within {
  border: 3px solid #F3AC94; 
}

#barraRicercaResponsive:hover {
  border: 3px solid #F3AC94; 
}

.campoRicercaResponsive {
  width: 80%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16pt;
  padding-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bottoneRicercaResponsive {
  background-color: transparent;
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 16pt;
}

.bottoneRicercaResponsive:hover {
  color: rgb(82, 81, 81);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}



@media screen and (min-width: 600px) { 

  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .content {
    padding: 40px;
  }

  .iconaRicerca{
    display: none;
  }

  #barraRicerca {
    display: block;
  }

}