@CHARSET "UTF-8";


label{
	font-size:large;
}

button.header
{
	background-color:#ededed;
	border:0px;
	cursor:url("poke.png"),auto;	
	font-size:large;
	
}
img.fufu{
	width:10%;
}

li:last-child {
  border-right: none;
}
label{
	  font-family: arial, verdana, tahona, sans-serif;
  font-size: 22px;
  line-height: 150%;
  color: #000;
  text-shadow: -1px 0 #FF0000, 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000;
}
form{
	display: block;
  	color: white;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ededed;
}

li.destra {
  right: 0;
}

li.sinistra{
	float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #160d0d;
}
button[type=submit],input[type=submit]{
	font-size: 180%;
	color:black;
	background-color: #fff59d;
	border-radius:6px;
	font-family:Georgia;
	font-size:18px;
	padding:8px;
	font-weight:bold;
	cursor:url("poke.png"),auto;
}












.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #c0c0c0;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

  .social h1 {
    margin: 0px;
  }
}

  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }






