.borderBoxPopUp {
	border-radius: 20px !important;
	border: 2px solid pink;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.2s filter;
  filter: blur(3px);
}

body.swal2-hide > [aria-hidden="true"] {
  transition: 0.8s filter;
  filter: blur(3px);
}


.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 5%;

    padding-right: 20px;
    

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.icon {
  padding: 20px 10px;
  background: white;
  color: black;
  min-width: 50px;
  max-width: 100px;

  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}

.input-field {
  
  width: 100%;
  padding-left: 10px;
  font-size: large;
  outline: none;
  border: none;
}

.input-container:focus-within .icon {  
    background-color: #fdd835;
    color: white;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.btnAggiorna {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #fdd8357b;
    border: solid 2px white;
}

.btnAggiorna:hover{
    background-color: #fdd835;
    border: solid 2px white;
    color: white;
    cursor: pointer;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: none;
}