.borderBoxPopUp {
	border-radius: 20px !important;
	border: 2px solid pink;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.2s filter;
  filter: blur(3px);
}

body.swal2-hide > [aria-hidden="true"] {
  transition: 0.8s filter;
  filter: blur(3px);
}


.input-container {
    display: flex;
    width: 95%;
    margin-bottom: 5%;

    padding-right: 20px;
    

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.icon {
  padding: 20px 10px;
  background: white;
  color: black;
  min-width: 50px;
  max-width: 100px;

  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}

.input-field {
  
  width: 100%;
  padding-left: 10px;
  font-size: large;
  outline: none;
  border: none;
}

.input-container:focus-within .icon {  
    background-color: #fdd835;
    color: white;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.btnAggiorna {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #fdd8357b;
    border: solid 2px white;
}

.btnAggiorna:hover{
    background-color: #fdd835;
    border: solid 2px white;
    color: white;
    cursor: pointer;

    -webkit-transition: 0.4s;
    transition: 0.4s;
    outline: none;
}

#errorMail {
    display: none;
}
#errorPassword {
    display: none;
}
#errorPassword2 {
	display: none;
}
#errorName {
    display: none;
}
#errorSurname {
    display: none;
}
#errorNumber {
    display: none;
}




#errorMessageMail {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    float:left;
    top: -20px;
    
    font-style: italic;
}
#errorMessageMailUsed {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    top: -20px;
    
    font-style: italic;
}
#errorMessagePassword {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    float:left;
    top: -20px;
    
    font-style: italic;
}
#errorMessagePassword2 {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    float:left;
    top: -20px;
    
    font-style: italic;
}
#errorMessageName {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    float:left;
    top: -20px;
    
    font-style: italic;
}
#errorMessageSurname {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    float:left;
    top: -20px;
    
    font-style: italic;
}
#errorMessageNumber {
	font-size: 10pt;
	color: #ff00009a;
	display: none;
    padding-left: 70px;
    
    position: relative;
    float:left;
    top: -20px;
    
    font-style: italic;
}

.error2 {
	position: relative;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff0000b7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align:middle;
}




.tabellaOpzioni {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
}

.testoTabella {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 15pt;
    color: grey;
}

.testoValoriAccount {
    padding-right: 10px;
    font-size: 20pt;
    padding-top: 0px;
    color: black;
}

.tastoModifica {
    padding: 10px;
    background-color: #ffd835;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15pt;
}

.tastoModifica:hover {
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}





.modificaElemento {
    background-color: #f2a6c740;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    font-weight: 600;
    border: none;
}

.iconaModificaPulsante {
    float: left;
    margin-left: 5px;
}

.modificaElemento:hover {
    color: white;
    background-color: #f2a6c7;
    
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

.testoModificaElemento {
    float: right;
    vertical-align: middle;
    font-size: 10pt;
    padding: 10px 5px;
}