.table {
	margin-left: auto; 
	margin-right: auto;
	border: 4px solid;
	border-radius: 20px;
	font-size: 13pt;
}

td, th {
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
  padding-top: 15px;
}





.codTrack {
    display: none;
}

.statusOrdine {
    display: none;
}

.indirizzoSped {
    display: none;
}

.numCivico {
    display: none;
}

.cap {
    display: none;
}

.numTelefono {
    display: none;
}





@media screen and (min-width: 400px) {
    .codTrack  {
      display: table-cell;
    }
}

@media screen and (min-width: 750px) {
   .statusOrdine {
      display: table-cell;
    }
}

@media screen and (min-width: 850px) {
   .indirizzoSped {
      display: table-cell;
    }
}

@media screen and (min-width: 980px) {
   .numCivico {
      display: table-cell;
    }
}

@media screen and (min-width: 1050px) {
   .cap {
      display: table-cell;
    }
}

@media screen and (min-width: 1300px) {
   .numTelefono {
      display: table-cell;
    }
}
