.contenitoreGrande {
    width: 95%;
    margin: 0 auto;
}

.sezioneCarrello {
    display: flex;
    float: left;
    max-width: 55%;
    width: fit-content;
    background-color: #ffd73578;
    border-radius: 20px;
    border: black 2px solid;
    font-size: 20pt;
    text-align: center;
    
}

.sezioneProdotto {
    max-width: 100%;
    font-size: 20pt;
}

.sezioneDettaglioProdotto {
    max-width: 100%;
    font-size: 25pt;
    text-align: right;
    line-height:60px;
    padding: 0px 20px 0px 0px ;
}


.immagineProdotto {
    width: 150px;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0px 40px;
}

#sezioneTotale {
    background-color: #f2a6c740;
    border-radius: 20px;
    border: black 2px solid;
    width: 35%;
    float: right;
    padding: 20px;
    margin-left: 2%;
}

.divisorioTotaleOrdine {
    
    margin-top: 5%;
    width: 90%;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

.testoSezioneTotale {
    display: block;
}

.selezionaQuantita {
    width: 150px;
    font-size: 20pt;
    border-radius: 20px;
    text-align: center;
}

#sezioneTotale:hover {
    color: white;
    background-color: #f2a6c7;
    cursor:pointer;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

#sezioneTotale:hover > .divisorioTotaleOrdine{
    border: solid 2px white;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}




@media screen and (max-width: 1100px) {

    .cellaTabellaImmagine {
        width: 60%;
    }

    .contenitoreGrande {
        width: 80%;
        margin: 0 auto;
        background-color: #ffd73578;
        border-radius: 20px;
        border: black 2px solid;
        z-index: -1;
    } /*ok*/
    
    .sezioneCarrello {
        background-color: none;
        display: block;
        float: none;
        max-width: 100%;
        width: auto;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0 auto;
        border-radius: 20px;
        border: none;
        font-size: 20pt;
        text-align: center;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    } /*ok*/
    
    .sezioneProdotto {
        max-width: 100%;
        font-size: 20pt;
    }
    
    .sezioneDettaglioProdotto {
        max-width: 100%;
        font-size: 3vw;
        text-align: right;
        line-height:40px;
        padding: 0px 0px 0px 0px ;
    } /*ok*/
    
    
    .immagineProdotto {
        width: 40%;
        max-width: 500px;
        min-width: 150px;
        height: auto;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 10px 0px;
        padding-left: 10%;
        float: left;
    } /*ok*/
    
    #sezioneTotale {
        z-index: 1;
        background-color: #f2a6c740;
        border-radius: 20px;
        border: black 2px solid;
    
        padding: 20px;
        margin-left: 2%;



        display: block;
        float: none;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0 auto;
        border: none;
        border-top: 4px solid black;
        

        
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    } /*ok*/
    
    .divisorioTotaleOrdine {
        margin-top: 5%;
        width: 90%;
        margin-bottom: 5%;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .testoSezioneTotale {
        display: block;
    }
    
    .selezionaQuantita {
        width: 50%;
        font-size: 3vw;
        border-radius: 20px;
        text-align: center;
    }
  }